<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User information page</title>
</head>
<body>
  <div class="container-fluid">
    <br/>
    <br/>
    <h1>User information-page</h1>
    <br/>
    <div class="table-caption">
      <h2>About user</h2>
    </div>
    <div class="table-container border rounded mb-2" style="background-color: white;">
      <div th:replace="parts/userInfo :: userInfo"></div>
    </div>
    <div style="background-color: #f8f9fa; height: 62vh;"></div>
  </div>
</body>
</html>